#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

header {
  border-bottom: 1px solid #444;
}

.site-header {
  border-bottom: 1px solid #2a2a2a;
  background: #1c1c1c;
}

.navbar {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 32px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}

.nav-left {
  display: flex;
  align-items: center;
}

.logo {
  color: #7c8cff;
  font-size: 32px;
  font-weight: 700;
  margin: 0;
}

.main-nav {
  display: flex;
  align-items: center;
  gap: 2rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-nav li {
  list-style: none;
}

.main-nav a {
  text-decoration: none;
  color: #7c8cff;
  font-weight: 500;
  font-size: 18px;
}

.main-nav a:hover {
  color: white;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 14px;
}

.login-btn {
  background: transparent;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.login-btn:hover {
  color: #7c8cff;
}

.signup-btn {
  background: #7c8cff;
  border: none;
  padding: 12px 20px;
  border-radius: 10px;
  color: white;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.signup-btn:hover {
  background: #6575ff;
}

.nav-link-btn {
  text-decoration: none;
  display: inline-block;
}
